<!DOCTYPE html>
<html class="h-100" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block title %}
  <title>{{ title }}</title>
  {% endblock %}
</head>

<body class="d-flex flex-column h-100">
  <main class="">
    {% block mainmenu %}
    <nav class="navbar navbar-light navbar-expand-md sticky-top" style="background-color: rgb(158, 195, 219);">
      <div class="container">
        <a class="navbar-brand">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
        </a>
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30"
            class="d-inline-block align-top" alt="">
          <span style="color:red">M</span>usic
        </a>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav nav-pills">
            {% for item in menu %}
            <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-3">
        <div class="card">
          {% block content %}
          <h1>{{ title }}</h1>
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
</body>

</html>
