{% extends "base.html" %}

{% block content %}
{{ super() }}
{% for category, message in get_flashed_messages(True) %}
<div class="flash {{ category }}">
  {{ message }}
</div>
{% endfor %}
<form action="" method="POST" style="margin: 10px;">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    <p>{{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}</p>
  </div>
  <div class="mb-3">
    <p>{{ form.psw.label(class="form-label") }} {{ form.psw(class="form-control") }}</p>
  </div>
  <div class="form-check form-switch">
    <p>{{ form.remember(class="form-check-input", id="flexSwitchCheckDefault") }}
      {{ form.remember.label(class="form-check-label", for="flexSwitchCheckDefault") }}</p>
  </div>
  <div class="d-flex justify-content-end">
    <p>{{ form.submit(class="btn btn-primary") }}</p>
  </div>
</form>
{% endblock %}
